{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
<div class="container-fluid">

<h2>{{ cats }}</h2>
<ul>
{% for post in category_posts %}
<li>{{ post.title }}
            <em>{{ post.author.first_name }} </em>
            <em>{{ post.author.last_name }}</em> -
            <em>{{ post.created_on }} </em>
        <small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'edit_post' post.pk %}">(Edit)</a>
                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                {% else %}
                    You are not allowed here!!
                {% endif %}
            {% endif %}
        </small><br/>  
        {{ post.content| slice:":300" }}<a href = "{% url 'article-detail' post.pk %}">more...</small></a>        
</li>
{% endfor %}
</ul>  
{% else %}
<h2>the page does not exist</h2>
{% endif %}


 {% endblock %}                       
                                
                    
                   




