{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h2 class ="update-post">Here you can edit and update the blog post</h2>
<h3 class ="instruction"> Please follow the intructions while posting in a blog</h3>
<ul class ="instruction">
  <em>
    <li> This option of edit and update is only active for register user</li>
    <li>You can only edit and update your post</li>
  </em>
</ul>
<br/>
<div class ="form-group">
  <form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    </div>
  <button class="btn btn-primary">Update
  </button>
  {% else %}
  You are not allowed here!!
  {% endif %}
  {% else %}
  You are not allowed here!!
  {% endif %}
  {% endblock %}
