{% extends 'base.html' %}
{% block content %}
<!-- User authentication for delete page and instruction for users-->
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h2 class ="update-post">Here you can edit and update the blog post</h2>
<h3 class ="instruction"> Please follow the intructions while posting in a blog</h3>
<ul class ="instruction">
    <li> This option of edit and update is only active for register user</li>
    <li>You can only edit and update your post</li>
</ul>
<br/>
<!-- form for editing the post-->
<div class ="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
  <button class="btn btn-primary">Update
  </button>
  {% else %}
  <!-- message for not right user-->
  You are not allowed here!!
  {% endif %}
  {% else %}
  You are not allowed here!!
  {% endif %}
  {% endblock %}
