{% extends 'base.html' %}
{% block content %}
<br/>
<!-- Introduction about the blog-->
<div class="p-3 mb-2 bg-success text-white">
  <h1>Water Channel Blog
  </h1>
  <p> The global water crisis is a major concern today and will become more severe in the coming years. The availability of 
    freshwater becomes more challenging in the semi-arid regions. However, in other areas where freshwater is available(surface and groundwater), 
    contamiantion and degradation of the water quality is a major issue risking the health of 
    millions of people. As per the SDG 6, availability of fresh and safe water
    for all is a basic necessity for overall human development. Therefore, there is need of ideas and solutions that can help
    to provide the clean freeshwater to the entire population. 
    This water channel blog is an open access blog to share the ideas and solutions to address global water issues. All the water 
    practictioner from all over the world (including professional, students) can be a member of the community in the blog. 
  </p>
</div>
<div class="container-fluid">
  <h2 class = "recent-post"> Recent Posts
  </h2>
  <!-- Alert message/flash when new post is added in the blog-->
  {% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    {{ message | safe }}
</div>
{% endfor %}
<!-- Summary blog post in the home page with image, title, name and date -->
  <div class="row">
    {% for post in post_list %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <div class="image-container">
            {% if "placeholder" in post.featured_image.url %}
            <img class="card-img-top"
                 src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="image for {{ post.title }}" >
            {% else %}
            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="image for {{ post.title }}">
            {% endif %}
          </div>                    
          <h2 class="card-title">{{ post.title }}
          </h2>
          <small>
            <em>{{ post.author.first_name }} 
            </em>
            <em>{{ post.author.last_name }}
            </em> -
            <em>{{ post.created_on }} 
            </em>
          </small>
          <br/>
          <small>
            <!-- user authentication for edit and delete of their own post-->
            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'edit_post' post.pk %}">(Edit)
            </a>
            <a href="{% url 'delete_post' post.pk %}">(Delete)
            </a>
            {% endif %}
            {% endif %}
          </small>
          <br/> 
          <!-- Slicing the text for a summary in the home page and link to the detial page-->     
          {{ post.content| slice:":200" }}
          <a href = "{% url 'article-detail' post.pk %}"> more...
            </small>
          </a> 
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>
</div>
</div>
<!-- Page pagination-->
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li>
      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV 
      </a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
</div>
<!-- social media links-->
<div class="footer">  
  <h2 class="connect">Connect with us</h2>
<footer>
  <ul class="social-media">
      <li><a href="https://www.facebook.com/ihedelft" target="_blank" rel="noopener" aria-label="Visit our facebook page"><i class="fab fa-facebook-square"></i></a></li>
      <li><a href="https://www.linkedin.com/school/ihedelft/mycompany/" target="_blank" rel="noopener" aria-label="Visit our linkedin page"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/ihedelft" target="_blank" rel="noopener" aria-label="Visit our twitter page"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.instagram.com/ihedelft/" target="_blank" rel="noopener" aria-label="Visit our instagram page"><i class="fab fa-instagram-square"></i></a></li>
  </ul>
</footer>
</div>
{% endblock %}
