{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}

<br/>
<h1>{{ post.title }}</h1>
<small>By: 
    {{ post.author.first_name }}
    {{ post.author.last_name }} -
    {{ post.created_on }} 

    {% if user.is_authenticated %}  
        <a href="{ url 'edit_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    
    {% endif %}
</small><br/>
<hr>
<br/>
{{ post.content }}

<div class="d-none d-md-block col-md-6 masthead-image">
    <!-- The featured image URL goes in the src attribute -->
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://res.cloudinary.com/dpqhs6erg/image/upload/v1640042372/qajjd5rtyvxz6oz0rmoq.jpg" width="50%">   
    {% else %}
    <img src="{{ post.featured_image.url }}" width="50%">
    {% endif %}
</div>

<br/><br/>
<a href ="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}