{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<br/>
<!-- title of the blog post in detail page with author name, date -->
<h2>{{ post.title }}
</h2>
<small>By: 
  {{ post.author.first_name }}
  {{ post.author.last_name }} -
  {{ post.created_on }} 
  <!-- user authentication for edit and delete own post-->
  {% if user.is_authenticated %} 
  {% if user.id == post.author.id %} 
  <a href="{% url 'edit_post' post.pk %}">(Edit)
  </a>
  <a href="{% url 'delete_post' post.pk %}">(Delete)
  </a>
  {% endif %}
  {% endif %}
</small>
<br/>
<hr>
<div class="d-md-block col-md-6 masthead-image">
  <!-- The featured image URL goes in the src attribute -->
  {% if "placeholder" in post.featured_image.url %}
  <img src="" alt="image for {{ post.title }}"/>   
  {% else %}
  <img src="{{ post.featured_image.url }}" alt="image for {{ post.title }}" />

  
  {% endif %}
</div>
<div class="container">
  <div class="row">
    <div class="col card mb-4  mt-3 left  top">
      <div class="card-body post-detail">
        <!-- The post content goes inside the card-text. -->
        <!-- Use the | safe filter inside the template tags -->
        <p class="card-text ">
          {{ post.content | safe }}
        </p>
        <a href=" {% url 'home' %}" >Back
        </a>
        <hr>
        <!-- for liking the post by register user and counting the number of likes-->
        <form action="{% url 'like_post' post.pk %}"method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
          <button type="submit" name="post_id" value ="{{ post.id }}" class="btn btn-primary btn-sm">Like
          {% endif %}
          </button> - {{ number_of_likes }}Likes
        </form>
      </div>
    </div>
  </div>
</div>
<!-- for commenting the blog post-->
<h3 class="comment">Comments from the blog users</h3>
<hr>
{% if not post.comments.all %}
<h3 class="comment-2">The blog post has no comments yet ...</h3>
<a href ="{% url 'add_comment' post.pk %}"> Please provide comment
</a>
{% else %}
<a href ="{% url 'add_comment' post.pk %}">Please provide comment
</a>
<br/>
{% for comment in post.comments.all %}
<strong>
  {{ comment.name}} -
  {{ comment.created_on }}
</strong>
<br/>
{{ comment.body }}
<br>
<hr>
{% endfor %}
{% endif %}
{% endblock %}
