body{
    background-color: whitesmoke;
}

/* Home page and category page */
.recent-post{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
}
.card-title{
   font-size: 23px; 
}
.title{
    font-size: 25px;
    color: #1d0462;
    padding-top: 15px;
    padding-bottom: 10px;
}
/* Member registration page */

.register{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
}

    /* Add post page */

.add-post{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
}
.instruction{
    font-size: 15px;
    color: #62041b;
    margin-bottom: 2px;
}
.instruction li{
    font-size: 12px;
    color: #62041b;
}

  /* Add category page */


  .add-category{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
  }

  /* Edit post page */
  .update-post{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
  }

  .comment{
    font-size: 20px;
    color: #1d0462;
  }
  .comment-2{
    font-size: 15px;
    color: #e60637;
  }

  .card-img-top{
    height: 200px;
  }

  .card-body{
    height: 450px;
  }

  .social-media {
    text-align: center;
}
.social-media >li {
  display: inline;
}

.social-media i {
  font-size: 170%;
  padding: 25px;
  color: rgb(237, 235, 243);
}
.social-media a {
  text-decoration: none;
}
.footer{
  background-color: rgb(79, 207, 122);
 
}
.connect{
  color: white;
  margin-left: 10px;
}


/* media querries */

  /*For screen size max width 767 px */

@media screen and (max-width: 767px) {

  .card-body{
    height: 500px;
  }

  .card-body.post-detail {
    height: unset;
  }
  .social-media i {
    margin: 0;
}
}
 
/* media querries */
/*For tablet screen size from 768 -992 px */
@media screen and (min-width: 768px) and (max-width: 992px) {

.card-img-top {
  height: unset;
}
.card-body{
  height: unset;
}
}

/*For tablet screen size from 768 -992 px */
@media screen and (min-width: 993px) {

    .card-body{
    height: unset;
  }
  }