body{
    background-color: whitesmoke;
}
.fa, .fab, .fad, .fal, .far, .fas {
    margin-inline: 50px;
    margin-left: 50px;   
}

.title{
    font-size: 25px;
}
.category{
    line-height: 50px;
    background-color: rgb(83, 53, 7);
    margin: 10px;   
}


    