body{
    background-color: whitesmoke;
}

/* Home page and category page */
.recent-post{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
}
.card-title{
   font-size: 23px; 
}
.title{
    font-size: 25px;
    color: #1d0462;
    padding-top: 15px;
    padding-bottom: 10px;
}
/* Member registration page */

.register{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
}

    /* Add post page */

.add-post{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
}
.instruction{
    font-size: 15px;
    color: #62041b;
    margin-bottom: 2px;
}

  /* Add post page */


  .add-category{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
  }

  /* Edit post page */
  .update-post{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #1d0462;
  }